In [ ]:
# print 0 to 20 by using range

In [1]:
for number in range(0,20):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# print range 10 to 20

In [3]:
for number in range(10,20):
    print(number, end=" ")

10 11 12 13 14 15 16 17 18 19

In [ ]:
# Print number of items in the list by using 'len'

In [4]:
List2 = [10, 20, 14, 55, 43, 87, 76]
print(f"Number of items in the List2: {len(List2)}")

Number of items in the List2: 7

In [6]:
text = "Artificial Intelligence"

print(text)

for ch in text:
    print(ch)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [7]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [ ]:
# Print this mixered datatype using Tuples

In [9]:
tuple = (5, 'Welcome', 7, 'Hope')
print(tuple)

(5, 'Welcome', 7, 'Hope')

In [12]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'Hope')
tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'Hope'))

In [ ]:
# print Odd Numbers in the list

In [14]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)
for number in numbers:
    if number % 2 != 0:   
        print(f"{number} is odd")

19 is odd
25 is odd
1 is odd

In [ ]:
# print Even Numbers in the list

In [15]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)
for number in numbers:
    if number % 2 == 0:
        print(f"{number} is even")

20 is even
10 is even
16 is even
276 is even
188 is even