In [2]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))

4.0

In [5]:
#2.Find the error in the following Python code:
def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

In [7]:
#3.x = 5
if x == 10:
    print("x is 10")

x is 10

In [8]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

None

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [17]:
#6.
my_tuple = (1, 2, 3)
print( my_tuple[1])

2

In [14]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name, age))

My name is Alice and I am 25 years old

In [13]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [9]:
#9.
for i in range(1, 5):
    print(i)

1
2
3
4

In [10]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])

John